$color_primary: #b79e6f;
$color_accent: #bbbbbb;
$bg_header: #fcfcfc;
$text_primary: black;
$text_secondary: white;
$text_accent: #b79e6f;
$masthead_contact_bar_bg: #1f1f1f;

$font-family-serif: 'Playfair Display', serif;
$font-family-sans: 'Montserrat', sans-serif;
$font-family-base: $font-family-sans;
$font-family-headings: $font-family-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

$radius: 8px;
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);