 .container-fluid {
     padding-left: 3rem !important;
     padding-right: 3rem !important;

     @media (max-width: 768px) {
         padding-left: 1.5rem !important;
         padding-right: 1.5rem !important;
     }
 }

 .container {
     margin: 0px auto !important;
 }

 .row {
     margin-left: 0;
     margin-right: 0;
 }

 @media (max-width: 991px) {
     .container-page {
         display: flex !important;
         flex-direction: column !important;
     }
 }